p {
  color: white;
  text-align:center;
}

div{
  color:white;
  
  
}

body{background: #000}

img{
  border-radius:50px;
}

.developerImage{
  display:flex;
  justify-content:center;
}

.developerName{display:flex;
  justify-content:center;
}

.developerInformation{
  display:flex;
  justify-content:center;
}


